
<% if @cart_items.size == 0 %>
    <!-- <p class="text-center"> -->
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
 <!--  </p> -->
<% else %>
  <% @cart_items.each do |cart_item| %>
    <%= render 'carts/cart_row', item: cart_item.item, cart_item: cart_item, show_total: true %>
  <% end %>
<% end %>